parameters:
    ignoreErrors:
        - '#Parameter \#[0-9]+ \$[a-zA-Z0-9\\_]+ of [^,]+, PHPUnit\\Framework\\MockObject\\MockObject given#'
        - '#Method Foil\\Engine::useData\(\) invoked with 1 parameter, 0 required#'
